.instafeed{
	@include clearfix;
	text-align: center;
	a{
		display: inline-block;
		width: 30%;
	    margin: 0 1% 10px;
	    padding: 10px 10px;
		border: 1px solid #dddddd;
		border-radius: 10px;
		box-shadow: 0 0 3px #CCCCCC;

		img{
			width: 100%;
		}
	}
}