.materiales-educativos{
	text-align: center;
	padding: 20px 0 0;

	@include bp(sm){
		padding: 20px 20px;
	}

	@include bp(md){
		padding: 20px 80px;
	}

	@include bp(md){
		padding: 20px 140px;
	}

	h2{
		display: inline-block;

		&:after{
			content: '';
			position: absolute;
			display: none;
			top: 0;
		    right: 0;
		    width: 50px;
			height: 89px;
			background: url('../images/after-arrow.svg') no-repeat center center;
			@include transition(right .3s ease);

			@include bp(sm){
				display: block;
				right: -50px;
			}

			@include bp(md){
				right: -60px;
			}
		}
	}

	.tabs-container{
		margin-top: 30px;
		display: none;

		@include bp(sm){
			display: block;
		}
	}

	.accordion-container{
		display: block;
		margin: 0;

		@include bp(sm){
			display: none;
		}

		.panel-heading{
			background-color: $light-grey;

			h4{
				a{
					font-family: 'HindSemibold', Helvetica, Sans-Serif;
					position: relative;
					text-transform: uppercase;
					@include rem(font-size, 1.7rem);

					&:after{
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							width: 13px;
							height: 13px;
							display: block;
							background-image: url("../images/expand-arrow.svg");
						}
				}
			}

			&.open{
				background-color: $lighter-blue;

				h4{
					a{	
						&:after{
							background-image: url("../images/expand-arrow-down.svg");
						}
					}

					a, a:hover, a:focus{
						color: $light-blue;
					}
				}
			}

			img{
				float: right;
			}
		}

		.panel-collapse{
			background-color: $lighter-blue;
		}

		.small-card{
			@include clearfix;
			position: relative;
			border: none;
			background-color: white;
			padding: 10px;
			font-family: 'HindRegular', Helvetica, Sans-Serif;

			h4{
				@include rem(font-size, 1.5rem);
				text-align: left;
			}

			p{
				color: #5F6060;
				@include rem(font-size, 1.1rem);
			}

			& > img{
				float: left;
				margin-right: 10px;
				width: 35%;
				max-width: 150px;
			}
		}

		.slide{
			margin: 0 5px;
		}

		.panel-collapse{
			&.collapse{
				display: block;
				height: 0px;
				visibility: hidden;
				pointer-events: none;

				&.in{
					height: inherit;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}

		&.panel-group{
			.panel{
				border-radius: 0;
				margin: 0;

				.panel-title{
					a{
						display: block;
					}
				}

				.panel-body{
					border: none;
				}
			}
		}
	}

	.download-doc{
		position: absolute;
		right: 10px;
		bottom: 10px;

		img{
			width: 22px;
			height: 19px;
		}
	}

	.nav-tabs{
		border: none;

		li{
			margin-right: 10px;
		}
	}

	.nav>li>a{
		padding: 15px 20px;
	}

	.nav-tabs>li>a{
		font-family: 'HindMedium', Helvetica, Sans-Serif;
		@include rem(font-size, 1.6rem);
		color: #282828;
		background-color: #F3F3F3;
		text-transform: uppercase;

		@include bp(md){
			@include rem(font-size, 1.6rem);
		}

		@include bp(lg){
			@include rem(font-size, 2.0rem);
		}
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		font-family: 'HindSemibold', Helvetica, Sans-Serif;
		border: 1px solid transparent;
		color: #26A9E0;
		background-color: #E5F5FB;
	}

	.tab-content{
		.tab-pane{
			background-color: #E5F5FB;
			padding: 20px;

			img{
				width: 100%;
			}

			.small-card{
				position: relative;
				float: left;
				width: 23%;
				padding: 10px;
				background-color: white;
				min-height: 320px;
				margin-left: 2.5%;

				@include bp(md){
					min-height: 380px;
				}

				&:first-child{
					margin: 0;
				}
			}
		}
	}

	.small-card{
		font-family: 'HindRegular', Helvetica, Sans-Serif;
		border: 1px solid #F1F1F1;

		h3{
			@include rem(font-size, 1.5rem);
			@include rem(line-height, 1.9rem);
			text-align: left;
		}

		p{
			text-align: left;
			@include rem(font-size, 1.1rem);
		}
	}	
}