.aprende-jugando{
	margin-bottom: 50px;

	@include bp(sm){
		margin-bottom: 0;
	}

	.grid-wrapper{
		max-width: 1000px;
		margin: 0 auto;
		display: none;

		@include bp(sm){
			display: block;
		}
	}

	.grid{
		margin: 0 auto;
	}

	.grid-item {
		margin-bottom: 25px;
		width: 236px;
		height: 174px;
	}

	.grid-item-width2 {
		width: 490px;
	}

	.grid-item-height2 {
		height: 373px;
	}

	.item{
		background-size: cover;
		background-position: 0 center;
		background-repeat: no-repeat;

		span{
			display: block;
			position: absolute;
			width: 100%;
			background-color: transparentize($green, 0.2);
			left: 0;
			bottom: 0;

			&:after{
		    	content: '';
		    	background-image: url("../images/grid-green-arrow.svg");  
		    	display: block;
		    	position: absolute;
		    	width: 31px;
		    	height: 31px;
		    	top: 0;
			    bottom: 0;
			    right: 10px;
			    margin: auto;
		    }
		}

		h4{
			font-family: 'HindSemibold', Helvetica, Sans-Serif;
			@include rem(font-size, 2.3rem);
			color: white;
			max-width: 210px;
		    margin: 0;
		    padding: 10px;
		}
	}

	.slider-aprende{
		display: block;

		@include bp(sm){
			display: none;
		}

		.item{
			position: relative;
			min-height: 200px;
			
			@include bp('max-width: 960px'){
				margin: 0 10px;
			}

			h4{
				max-width: 250px;
			}
		}
	}

}