.main-header{
	// position: relative;
	background-image: url('../images/header_image.png');
	min-height: 470px;
	padding-top: 15px;
	text-align: center;
	// background-position: center center;
 //    background-repeat: no-repeat;
 //    background-size: cover;
	// min-height: 470px;
	// padding-top: 15px;
	// text-align: center;
	
	@include bp(sm){
	 	min-height: 570px;
	 	padding-top: 0;
	}

	// & > a{
	// 	position: relative;
	// 	display: inline-block;
	// 	z-index: 9000;
	// }

	// .main-logo{
	//     position: relative;
	//     top: -200px;
	//     left: 0;
	//     right: 0;
	//     width: 208px;

	//     @include logo-slide-down(-200px, -90px);
	//     @include animation('logo-slide-down 1s normal 1s forwards cubic-bezier(0.175, 0.885, 0.320, 1.275)');

	//     @include bp(sm){
	//     	@include logo-slide-down(-200px, -40px);
	// 		width: 372px;
	// 	}
	// }

	.header-text{
		width: 100%;
		background-color: transparentize($orange, 0.2);
		color: white;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		padding: 10px 10px 30px 10px;

		@include bp(sm){
			padding: 34px 20px 25px 20px;
		}

		@include bp(md){
			width: 991px;
		}

		@include bp(lg){
			width: 1000px;
			padding: 34px 25px 25px 25px;
		}

		h1{
			font-family : 'RalewaySemiBold', Helvetica, Arial, Sans-Serif;
			@include rem(font-size, 2.1rem);
			text-transform : uppercase;
			text-align: center;

			@include bp(sm){
				line-height : 36px;
				letter-spacing : -0.37px;
				@include rem(font-size, 2.8rem);
			}

			@include bp(md){
				@include rem(font-size, 3.6rem);
			}
		}

		p{
			font-family : 'HindMedium', Helvetica, Arial, Sans-Serif;
			@include rem(font-size, 1.2rem);
			text-align: center;
			text-align: center;

			@include bp(sm){
				@include rem(font-size, 1.6rem);
			}

			@include bp(md){
				@include rem(font-size, 2.0rem);
			}
		}

		.cta-container{
			padding-top: 15px;
			text-align: center;

			a{
				margin: 0 5px;
				@include rem(font-size, 1.2rem);

				@include bp(sm){
					@include rem(font-size, 1.4rem);
				}
			}
		}
	}

	.circle-stat{
		// @include two-color-bg(#00a69c, darken(#00a69c, 2%), -45deg);
		// position: absolute;
		// padding: 30px;
		// margin: 10px;
		// width: 20px;
		// height: 20px;
		// border-radius: 50%;
		// color: white;
		// z-index: 5;
		top: 100px;
		// right: 0;
		// display: none;

		@include bp(sm){
			right: 10%;
		}

		@include bp(md){
			right: 15%;
		}

		&.second{
			@include two-color-bg(transparentize(#26A9E0, 0.3), #26A9E0, -45deg);
			top: 200px;
		}

		// p{
		// 	margin: -10px -20px;
		// 	font-size: 16px;
		// 	font-weight: bold;
		// }

		// &:after{
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	width: 60px;
		// 	height: 60px;
		// 	top: 0px;
		// 	left: 0px;
		// 	border: 2px solid white;
		// 	border-radius: 50%;
		// 	z-index: 3;
		// 	@include animation('stats-in 1s normal 2s forwards cubic-bezier(0.175, 0.885, 0.320, 1.275)');
		// }
	}
}

.cards-container{
	background-color: #F1F1F1;
	padding: 50px 0px;

	@include bp(sm){
		padding: 50px 50px;
	}

	@include bp('min-width:1148px'){
		padding: 50px 125px;
	}

	.row{
		margin: 0;
		@include bp(sm){
			margin: 0 -15px;
		}

		& > div{
			padding: 0;
			@include bp(sm){
				padding: 0 15px;
			}
		}
	}
}

.escuelas-iniciativa{
	padding-top: 10px;
	padding-bottom: 40px;

	@include bp(sm){
		padding-top: 50px;
		padding-bottom: 70px;
	}

	& > .row{
		@include bp(lg){
			padding: 0 125px;
		}
	}

	h2{
		font-family: 'RalewayRegular', Helvetica, Sans-Serif;
		text-align: left;

		strong{
			font-family: 'RalewayBold', Helvetica, Sans-Serif;
			font-weight: normal;
		}
	}

	.flags-cta{
	    float: left;
	    min-height: 70px;
	    position: relative;
	    width: 25%;

	    @include bp(md){
	    	width: 50%;
	    }

	    .left-image-btn{
	    	font-family : 'RobotoRegular', Helvetica, Arial, Sans-Serif;
			@include rem(font-size, 1.9rem);
			@include two-color-btn(#00A69C, #007D75, -20deg);
			padding: 30px 0 24px 70px;
			border-radius: 10px;
			position: absolute;
		    width: 95%;
			font-weight: bold;
		    text-align: center;
		    line-height: 0;
		    margin: 0 0 0 10px;
		    top: 0;
		    left: 0;
		    right: 0;

		    @include bp(md){
		    	width: 80%;
		    	margin: 0;
		    	top: 0;
		    	padding: 30px 10px 24px 70px;
		    }

		    &:hover{
		    	color: white;
		    }

			.left-img{
				position: absolute;
				left: 5px;
				bottom: -25px;
				width: 80px;
				height: 80px;
			}

			.arrow-img{
				width: 7px;
				height: 16px;
				margin-left: 10px;
			}
	    }
	}

	.flags-container-mobile{
		@include showMobile();
		padding: 0 30px;

		.flags-slider{
			.slick-prev,
			.slick-next,
			.slick-prev:before,
			.slick-next:before {
			    height: 25px;
			    width: 25px;
			}
			
			.slick-prev:before,
			.slick-next:before {
			    content: "";
			    opacity: 1;
			    display: block;
			    width: 25px;
			    height: 25px;
			    background-image: url('../images/slider-arrow.svg');
			}
			.slick-prev:before {
			    transform: rotate(180deg);
			}
		}

		.flags-cta{
			float: none;
			width: 190px;
			margin: 0 auto;

			a{
				margin: 0;
				width: 100%;
			}
		}

		.flag-stat{
			background-color: $light-grey;
		    padding: 10px;
		    text-align: center;
		    margin: 0 10px;
		    font-family : 'HindMedium', Helvetica, Arial, Sans-Serif;
			@include rem(font-size, 1.5rem);

		    .stat{
				@include rem(font-size, 1.9rem);
		    }

		    .desc-container{
		    	background-size: cover;
		    	background-position: center center;
		    	background-repeat: no-repeat;
			    width: 100%;
			    min-height: 50px;
			    margin-bottom: 10px;
		    }
		}
	}

	.flags-container-desktop{
		@include showDesktop();

		.flag-stat{
			@include clearfix;
			position: relative;
			overflow: hidden;
			margin: 0 auto 20px;
			float: left;
			width: 100%;

			@include bp(sm){
				width: 25%;
			}

			@include bp(md){
				width: 40%;
	   			margin-right: 5%;
			}

			&:hover{
				.description{
					left: 0;
				}
			}

			.desc-container{
				float: left;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 20%;
				min-height: 70px;
				width: 80%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.description{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: -100%;
					padding: 8px 0px 10px 55px;
					background-color: transparentize(black, 0.3);
					@include transition(all .5s ease);

					@include bp(md){
						padding: 10px 0px 10px 40px;
					}

					p{
						color: white;
						font-family: 'RobotoRegular', Helvetica, Sans-Serif;
						@include rem(font-size, 1.3rem);
					}
				}

			span.stat{
				position: relative;
				float: left;
				font-family: 'HindMedium', Helvetica, Sans-Serif;
				@include rem(font-size, 2.2rem);
				color: $dark-grey;
			    padding: 0 10px 0 18px;
			    background-color: $light-grey;
			    line-height: 70px;
			    z-index: 5;
			    box-shadow: 10px 0px 40px #333;
			    margin-left: 10px;

			    @include bp(md){
			    	margin: 0;
			    	//padding: 0 20px;
			    }

			    &:after{
			    	content: '';
			    	position: absolute;
			    	top: 0;
			    	right: -15px;
			    	width: 0;
					height: 0;
					border-style: solid;
					border-width: 35px 0 35px 15px;
					border-color: transparent transparent transparent $light-grey;
			    }
			}
		}
	}

	.video-section{
		display: none;

		@include bp(sm){
			display: block;
		}
	}

	.video-wrapper{
		position: relative;
		max-width: 500px;
		margin: 0 auto;
		
		& > img{
			width: 100%;
		}

		.play-btn{
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 109px;
		    height: 109px;
		    background-image: url("../images/video-play.svg");
		    background-size: 218px 218px;
    		background-position: -55px -110px;

		    &:hover{
		    	background-position: -55px 0px;
		    }
		}

		.play-overlay{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}